*{font-family:sans-serif;box-sizing:border-box;margin:0;padding:0;}
:root{--bodycolor:#1B203D; --navcolor:#2A2B4A;--boxcolor:#191f41;--boxdarkcolor:#171c35;}
#hideAll{position:fixed;top:0;left:0;width:100%;height:100%;display:flex;justify-content: center;align-items: center;background:#1B203D;z-index: 2000;}
.preloadcirc{border:5px solid #1f2547;animation:roundmove 5s linear infinite;border-radius:50%;}
.one{position:absolute;top:30px;left:30px;right:30px;bottom:30px;border-bottom-color:#009973;border-right-color:#009973;animation-direction: reverse}
.two{position:relative;width:265px;height:265px;border-top-color:#ff5200;border-left-color:#ff5200;}
#content {color:#fff;font-size: 2rem;position: absolute;top:50%;left: 50%;transform: translate(-50%,-50%);font-weight:1200;font-family:'Open Sans',sans-serif;}
.preloader-content{position:relative;}
/*session alert styling*/
.alert{border-radius:4px;width:90%;max-width:600px;position:relative;text-align:center;padding:1.2rem 0;margin:1rem 0;z-index: 970;font-size: 1.3rem;font-family: sans-serif;}
.alert-success{background:rgba(31,122,31,0.42);border:1px solid #2eb82e;color:#85e085;}
.alert-danger{background-color:rgba(204,0,0,0.42);border:1px solid #ff4d4d;color:#ff9999;}
/*end of session alert styling*/
@keyframes roundmove{0%{transform:rotate(0deg);} 100%{transform:rotate(360deg);}}
html,body{margin:0;padding:0;min-width:270px;min-height:100%;scroll-behavior: smooth;background:#1B203D;background:var(--bodycolor);overflow-x: hidden;}
nav{background:#2A2B4A;background:var(--navcolor);width:100%;height:65px;transition: height 0.3s ease-in 0.1s;}
::-webkit-scrollbar{width: 0.525rem;background:#171c35;background:var(--boxdarkcolor)}
::-webkit-scrollbar-thumb{border-radius:20px;background:linear-gradient(to bottom,#ff5200,#ff7433);}
::selection{background:#fff;color:#1B203D;color:var(--bodycolor);}
.faders.appear{animation:upwardscroll 700ms linear forwards;}
@keyframes upwardscroll{0%{opacity: 0;transform:translateY(0px);}50%{opacity: 0.5;transform: translateY(-50px);}100%{opacity: 1;transform: translateY(0px);} }
.jumpers.jump{animation:jumpanime 0.6s ease-in;}
@keyframes jumpanime{0%{transform:translateY(0);}40%{transform:translateY(-35px);}70%{transform:translateY(0px);	}90%{transform: translateY(-10px);}100%{transform: translateY(0px);} }
.mythers{opacity:0;transition:opacity 800ms ease-out;}
.mythers.myth{opacity:1;animation:mythshow 0.8s ease-out;}
@keyframes mythshow{ 0%{transform:translateY(100%);} 100%{transform: translate(0%);} }
.from-left{opacity: 0;transform:translateX(-100%);transition:600ms linear;}
.from-right{opacity: 0;transform: translateX(100%);transition:600ms linear;}
.from-left.slide,.from-right.slide{opacity:1;transform: translateX(0);}
i{color:#fff;}
ul{list-style: none;margin:0;padding:0;}
a{text-decoration:none;color:#fff;}
/*side nav bar*/
.hide{background:transparent;padding:0.625rem 1.25rem;margin:1rem 0.2rem;cursor:pointer;border:none;outline:none;}
.side-nav-bar{display: none;background:#2A2B4A;background:var(--navcolor);position:fixed;top:0;right:-258px;height:100%;width: 250px;z-index: 1000;box-shadow:-7px 0 3px rgba(0,0,0,0.21);transition: 0.3s;}
.move{right:0px;}
.screen-li a{height: 50px;display: block;cursor:pointer;font-size: 1.2rem;border-bottom: 0.0625rem solid rgba(0,0,0,0.34);padding:0.625rem 0 0 1.25rem;transition: 0.3s;}
.screen-li a:hover{background:#1B203D;background:var(--bodycolor);}
/*end of side nav bar*/
.click-show{float:right;display:none;margin-right:30px;margin-top:9px;background:none;border:0;z-index:904;padding:8px 17px 8px 17px;border:0.0625rem solid #404040;border-radius:4px;cursor:pointer;}
.desktop-ul{float:right;display:flex;justify-content:space-around;width:50%;max-width:1100px;}
.desktopmenu-link{position:relative;margin:1.25rem 0 0 0;color: #fff;display: inline-block;padding-bottom:0.43rem;cursor:pointer;font-size:1.3rem;font-family: sans-serif;}
.desktopmenu-link::after{content:'';display: block;width:100%;height:0.25rem;margin-top:0.25rem;border-radius:0.1875rem;background:#ff5c33;transform: scaleX(0);transition: 0.17s;}
.desktopmenu-link:hover:after{transform: scaleX(1);}
.desktopmenu-link:hover{color:#ff5c33;}
.logo{margin: 8px 0 0 10px;width: 138px;height: 56px;}
/*optimizable code*/
.fitsocial-links, .search-form ,.admin-login-terms,.fit-follow ul{display: flex;justify-content: center;}
/*end of optimizable code*/
.not-found{font-family:sans-serif;color: #fff;}
.not-found h1{color:#ff5c33;}
.not-found ul{list-style:disc;margin-top:2rem;}
.not-found ul li{margin:1rem;}
.not-found>div{margin:3rem 0;padding:3rem 1rem;font-size:1.2rem;color:#fff;background:#191f41;background:var(--boxcolor);border-radius: 4px;box-shadow: 0 0 10px rgba(0,0,0,0.34);}
/*start of image and start containers*/
.search-container{background-image:url("backbigimage.jpg");background-size:cover;background-position:50%;width:100%;height:450px;position:relative;}
.darken-image{position: absolute;top: 0;left:0;width: 100%;height:100%;background: rgba(0,0,0,0.34);}
.search-parent{position: relative;text-align: center;padding-top:6.25rem;}
.tagline-container,.end-punch-line{font-family: 'Open Sans', sans-serif;color:#fff;}
.tagline-container h1{font-size: 1.8rem;margin:0 0.5rem;}
.tagline-container h2{font-size: 1.1rem;margin:1.5rem 0 5rem 0;}
.end-punch-line h3{font-size:1.1rem;color:#eee;margin-top:2.5rem;}
.search-form form{position: relative;width: 65%;max-width:520px;}
.search-form input[type="text"]{width: 100%;border:0;outline: none;background: #fff;border-radius:150px;font-size: 1.2rem;padding: 0.9375rem 3.25rem 0.9375rem 0.9375rem;}
.search-form input[type="text"]:focus{box-shadow: 0 0 10px rgba(0,0,0,0.45);}
.search-form button{position:absolute;top:0.1875rem;right:0.25rem;cursor: pointer;border:none;background:#ff5200;border-radius:50%;padding:0.5625rem;}
/*end of image and start containers*/
.post-container{margin:1.875rem auto;}
.grid-container{display:-ms-grid; display:grid;grid-template-columns:65% 35%;-ms-grid-columns:65% 35%;}
.post img{width:100%;display: block;max-height: 450px;}
.animatebtn::before{content:'';position: absolute;top:0.125rem;left:0.125rem;display: inline-block;background:rgba(0,0,42,0.18);height: 100%;width:50%;}
.animatebtn{position:absolute;bottom:10px;right:10px;background:#272e59;padding:0.9375rem 1.875rem;box-shadow: 0 20px 50px rgba(0,0,0,0.5);overflow: hidden;}
.animatebtn span:nth-child(1){position: absolute;top:0;left:0;background: linear-gradient(to right ,#1B203D,#1779ff); width:100%;height:0.125rem;animation: animate 2s linear infinite;}
@keyframes animate{0%{transform: translateX(-100%);}100%{transform: translateX(100%);} }
.animatebtn span:nth-child(2){position: absolute;top:0;right:0;background: linear-gradient(to bottom ,#1B203D,#1779ff); width:0.125rem;height:100%;animation: animatetwo 2s linear 1s infinite;}
@keyframes animatetwo{0%{transform: translateY(-100%);}100%{transform: translateY(100%);} }
.animatebtn span:nth-child(3){position: absolute;bottom:0;left:0;background: linear-gradient(to left,#1B203D,#1779ff); width:100%;height:0.125rem;animation: animatethree 2s linear infinite;}
@keyframes animatethree{0%{transform:translateX(100%);}100%{transform:translateX(-100%);} }
.animatebtn span:nth-child(4){position: absolute;top:0;left:0;background: linear-gradient(to top,#1B203D,#1779ff); width:0.125rem;height:100%;animation: animatefour 2s linear 1s infinite;	}
@keyframes animatefour{0%{transform: translateY(100%);}100%{transform: translateY(-100%);}}
.animatebtn:hover{opacity:0.8;}
.post{margin-bottom:4.375rem;color: #fff;border-bottom:0.375rem solid #1f2547;padding:0.625rem 0 3.75rem 0;position: relative;margin-right:0.9375rem;}
.post h1{font-size: 2rem;margin:1.25rem 0;}
.post p{font-size: 1.2rem;line-height: 1.5;margin:1.5625rem 0 0.625rem 0;font-family: 'Roboto' ,sans-serif;}
.post-summary{color:#d5cfcf;font-size: 0.9rem;margin:0.625rem 0;}
.page-link{float: left;padding:1rem 1.6875rem;color: #fff;font-size: 1.1rem;background: #2f386a;border-radius:0.1875rem;}
.active{background:#181c34;}
.aside-content{padding:1.875rem;margin-top:100px;}
.creative-container{position: relative;margin-bottom:2.5rem;}
.creative-backcont{content: '';position: absolute;top:-3px;right:-3px;bottom:-3px;left: -3px;background:linear-gradient(to bottom,#4653a0,#36417c);box-shadow: 0 0 25px rgba(0,0,150,0.65);transform: skew(2deg,2deg);z-index:0;animation: glow 5s linear 0.2s infinite alternate;}
@keyframes glow{0%{filter:brightness(50%);}50%{filter:brightness(100%);}100%{filter:brightness(50%);} }
.creative-container div:nth-child(2){position: relative;z-index:45;padding:0.9375rem 0.9375rem 1.3rem 0.9375rem;background:#171c35;background: var(--boxdarkcolor);}
.article{font-family:'Roboto',sans-serif;color:#fff;}
.article h1{text-align: center;}
.article p{line-height: 1.4;font-size: 1.2rem;font-weight: 300;margin-top:0.625rem;}
.lead-head{color:#fff;letter-spacing:1px;background:#171c35;background: var(--boxdarkcolor);padding:0.5rem 1rem;font-family: 'Noto Sans KR', sans-serif;}
.Categories-list div{padding:0.625rem 0 0 0.3125rem;margin-left: 1rem;font-size:1.2rem;}
.aside_cate_postcont{border:4px solid #272e59;}
.recent-post .media{display: flex;align-items: center;padding:1.25rem;color: #fff;border-bottom: 1px solid #272e59;}
.media img{width:80px;height:70px;margin-right:0.625rem;}
.recent-post-text p{color: #b1aeae;font-size: 0.7rem;}
.anchor-underline:hover{text-decoration:underline;color: #cc2900;}
.display-head{margin-top: 0;font-family:'Open Sans', sans-serif;color:#fff;font-size: 2rem;}
/*footer designs for all public pages*/
footer{background: #171c35; background:var(--boxdarkcolor);padding: 1.25rem 0;color:#fff;position:sticky;bottom: 0;left: 0;width: 100%;}
.footer-wrapper{width: 90%;margin: 0 auto;}
.footer-wrapper h1{font-family:'Open Sans', sans-serif;font-size:1.5rem;margin:2.875rem 0.125rem 2.875rem 0;}
.footer-flex{display:flex;flex-wrap: wrap;justify-content: space-around;}
.footer-flex>div{margin:0 1.875rem 1.25rem 0.3125rem;}
.footer-heading{font-size: 1.2rem;margin-bottom:1.25rem;}
.fit-latestupdate p{color:#c8c9cb;max-width: 270px;letter-spacing:1px;font-family:sans-serif;line-height: 1.2;}
.fit-explore-li li{margin-top: 0.625rem;}
.fit-explore-li li:hover a{color:#ff3300;text-decoration:underline;}
.fitsocial-links{align-items:center;border:1px solid #827d7c;border-radius:4px;width:50px;height: 50px;margin:0.3125rem 0.9375rem 0.3125rem 0;transition: 0.2s;}
.fitsocial-links i{color:#cecdcd;transition: 0.2s;}
.fitsocial-links:hover,.fitsocial-links:hover i,.admin-login-terms a:hover{color:#ff3300;border-color:#ff3300;}
.admin-login-terms{margin:1.25rem 0;padding:1.25rem 0 0 0;border-top: 5px solid #1c213f;}
.admin-login-terms a{margin-right:1.875rem;transition: 0.3s;}
.copyright-para{margin:1.25rem 0;letter-spacing:1px;text-align: center;}
/*end of footer designs for all public pages*/
/*media queries*/
@media screen and (min-width:1200px){.policy-content,.post-container{width:1170px;} }
@media screen and (min-width:1550px){:root{font-size:24px;}nav{height: 99px;}.logo{margin:10px 0 0 20px; width:195px;height:89px;} .search-container{height:640px;} .search-form button{top:0.3875rem;padding: 0.6625rem;}
.policy-content,.post-container{width:90%;margin: 0 auto; max-width: 1350px;}
.grid-container{grid-template-columns:60% 40%;}
.fitsocial-links{width:80px;height:80px}
.fit-latestupdate p{max-width:350px;} }
@media screen and (min-width:2350px){:root{font-size:28px;}
.search-container{height:790px;}
.search-form button{top:0.3875rem;padding:0.7625rem;}
.policy-content,.post-container{max-width:1500px;}
.search-form form{max-width:700px;	}
.fit-latestupdate p{max-width:450px;} }
@media screen and (max-width:1199px){
.grid-container{grid-template-columns: 100%;} }
@media screen and (max-width:849px){.policy-content,.post-container{width:480px;}
.click-show{display: inline-block;}
.desktop-ul{display:none;}
.side-nav-bar{display: block;} }
@media screen and (max-width:499px){:root{font-size:14px;}
.policy-content,.post-container{width:90%;}
.grid-container{grid-template-columns: 100%;}
.search-form button{top:0.1100rem;}
.search-container{background-image: url("backimage.jpg");background-size:cover;background-position:50%;background-repeat: no-repeat;width:100%;height:450px; }
.footer-flex{justify-content:flex-start;}
.aside-content{padding: 0;margin-top:20px; } }